# React
/node_modules
/build
/.pnp
.pnp.js

# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vspscc
*.vssscc
*.vsidx
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.libs
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.exp
*.usertype.dat
*.aps
*.VC.db
*.VC.VC.opendb
